/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background-image: linear-gradient(#5E2E82, #4C939A);
    }

    #container{
        display: flex;
    }

    .form-login{
        width: 450px;
        height: 280px;
        border-radius: 0px 15px 15px 0px; 
    }

    .background-login{
        width: 250px;
        height: 280px;
        border-radius: 15px 0px 0px 15px;
       
    }

    p{
        text-align: center;
    }

    #password{
        width: 350px;
        
    }

    #user{
        width: 350px;
        
    }

    #entrar{
        width: 395px;
    }

    .side {
        width: 395px;
        margin-left: 27.8px;
      }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(#5E2E82, #4C939A);
    }

    #container{
        display: flex;
    }

    .form-login{
        width: 450px;
        height: 290px;
        border-radius: 0px 15px 15px 0px; 
    }

    .background-login{
        width: 250px;
        height: 290px;
        border-radius: 15px 0px 0px 15px;
    }

    p{
        text-align: center;
    }

    #password{
        width: 350px;
    }

    #user{
        width: 350px;
    }

    #entrar{
        width: 395px;
    }

    .side {
        width: 395px;
        margin-left: 27.8px;
      }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-image: linear-gradient(#5E2E82, #4C939A);
    }

    #container{
        display: flex;
        flex-direction: row-reverse;
    }

    .form-login{
        width: 600px;
        height: 360px;
        border-radius: 15px 0px 0px 15px; 
    }

    .background-login{
        width: 360px;
        background-attachment: fixed;
        height: 360px;
        border-radius: 0px 15px 15px 0px;
    }

    p{
        text-align: center;
        font-size: 1em;
        margin-bottom: 20px;
    }

    h1{
        font-size: 2.5em;
    }

    #password{
        width: 350px;
    }

    #user{
        width: 350px;
    }

    #entrar{
        width: 395px;
        margin-top: 20px;
    }

    .side {
        width: 395px;
        margin-left: 102px;
      }

}