@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /*Roboto*/


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(#5E2E82, #4C939A);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.background-login{
    width: 270px;
    height: 180px;
    background-image: url(../imagens/tela3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
}

#container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    
}


.form-login{
    width: 270px;
    height: 300px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    font-size: 0.8em;
    padding: 0px 15px 0px 15px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#senha{
    width: 230px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 4px;
    border: 2px solid #A4CFCE;
    border-radius: 5px;
    font-size: 1em;
    color: #286e6d;
}

#entrar{
    width: 230px;
    height: 40px;
    margin-top: 10px;
    background-color: #49b6b4;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#user{
    width: 190px;
    height: 25px;
    padding-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-indent: 5px;
}

#password{
    width: 190px;
    margin-top: 10px;
    height: 25px;
    padding-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-indent: 5px;
}



.material-symbols-outlined{
    width: 28px;
    color: rgb(255, 255, 255);
    padding-top: 5px;
}

.youremail{
    display: inline;
    padding: 17px 3px 7px 10px;
    width: 300px;
    background-color: #5F2C82;
    border-radius: 10px;
    
}

.yourpassword{
    display: inline;
    padding: 17px 3px 7px 10px;
    width: 300px;
    background-color: #5F2C82;
    border-radius: 10px;
        
}

  .cube {
    transition: all 0.2s;
    transform-style:preserve-3d;
    width: 200px;
    height: 20px;
    
  }
  
  .button-icon:hover {
    border-color: 5F2C82;
  }
  
  .button-icon:hover .cube {
    transform: rotateX(90deg);
    
  }
  
  .side {
    position: absolute;
    height: 40px;
    width: 230px;
    margin-top: 8px;
    margin-left: 20px;
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .top {
    background: #5F2C82;
    color: #ffffff;
    transform: rotateX(-90deg) translate3d(0, 15px, 1em);
  }
  
  .front {
    background: #ffffff;
    border: 1px solid #49b6b4;
    color: #4e4c4c;
    transform: translate3d(0, 0, 1em);
  }
  

